{% extends 'base.html' %}

{% block title %}Home - A MDL Blog Template running on Sanic{% endblock %}

{% block body %}
<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">
        <div class="demo-blog__posts mdl-grid">
          {% for data in page %}
            {% if loop.first %}
              <div class="mdl-card {{data.post_name}} mdl-cell mdl-cell--8-col">
                <div class="mdl-card__media mdl-color-text--grey-50">
                  <h3><a href="{{data.post_name}}">{{data.post_title}}</a></h3>
                </div>
                <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                  <div class="minilogo"></div>
                  <div>
                    <strong>{{data.post_author}}</strong>
                    <span>{% if data.post_date == None %}
                            A long time ago
                          {% else %}
                            {{data.post_date}}
                          {% endif %}
                    </span>
                  </div>
                </div>
              </div>
              <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
            <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent" onclick="window.location = 'admin';">
              <i class="material-icons mdl-color-text--white" role="presentation">add</i>
              <span class="visuallyhidden">add</span>
            </button>
            <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
              <img src="images/logo.png">
              +1,337
            </div>
            <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
              <div>
                <strong>The Newist</strong>
              </div>
              <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
                <li class="mdl-menu__item">About</li>
                <li class="mdl-menu__item">Message</li>
                <li class="mdl-menu__item">Favorite</li>
                <li class="mdl-menu__item">Search</li>
              </ul>
              <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">more_vert</i>
                <span class="visuallyhidden">show menu</span>
              </button>
            </div>
          </div>
            {% else %}
          <div class="mdl-card {{data.post_name}} mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url(images/{{data.post_image}})">
              <h3><a href="{{data.post_name}}">{{data.post_title}}</a></h3>
            </div>
            <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
              {{data.post_excerpt}}
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
              <div class="minilogo"></div>
              <div>
                <strong>{{data.post_author}}</strong>
                <span>{% if data.post_date == None %}
                        A long time ago
                    {% else %}
                        {{data.post_date}}
                    {% endif %}
                </span>
              </div>
            </div>
          </div>
            {% endif %}
            {% endfor %}
            {% if True %}
          <nav class="demo-nav mdl-cell mdl-cell--12-col">
            <div class="section-spacer"></div>
            <a href="post.html" class="demo-nav__button" title="show more">
              More
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_forward</i>
              </button>
            </a>
          </nav>
            {% endif %}
        </div>
        {% include 'footer.html' %}
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
{% endblock %}

{% block js_body_end %}
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
