{% extends 'base.html' %}

{% block title %}{{ page.title }} Page {% endblock %}

{% block body %}
<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">
        <div class="demo-back">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="index.html" title="go back" role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
          </a>
        </div>
        <div class="demo-blog__posts mdl-grid">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50">
              <h3>{{ page.header }}</h3>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
              <p>
                  {% if not form %}
                    {{ page.text }}
                  {% else %}
                    <form role="form" method="POST">
                        {{form.hidden_tag}}
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.username(class="mdl-textfield__input is-invalid") }}
                            {{ form.username.label(class="mdl-textfield__label") }}
                            <span class="mdl-textfield__error">
                                {% for errors in form.username.errors %}
                                    {{ errors }}
                                {% endfor %}
                            </span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            {{ form.password(class="mdl-textfield__input") }}
                            {{ form.password.label(class="mdl-textfield__label") }}
                            {% for errors in form.password.errors %}
                                {{ errors }}
                            {% endfor %}
                        </div>
                            {{ form.submit(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored") }}
                    </form>
                  {% endif %}
              </p>
            </div>
          </div>
        </div>
        {% include 'footer.html' %}
      </main>
    <div class="mdl-layout__obfuscator"></div>
</div>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{{ js_body_end }}
{% endblock %}
