<form role="form" method="POST">
    {{ form.csrf_token }}
    {% for field in form %}
        {% if field.type == 'SubmitField' %}
            <div class="mdl-card__actions">
                {{ field(class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent") }}
            </div>
        {% elif field.type == 'BooleanField' %}
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="{{ field.id }}">
                {{ field(class="mdl-switch__input",checked=True) }}
                <span class="mdl-switch__label">{{ field.label }}</span>
            </label>
        {% else %}
            {{ field.description }}
            <div class="mdl-textfield mdl-js-textfield">
                {{ field(class="mdl-textfield__input") }}
                {{ field.label(class="mdl-textfield__label") }}
                {% for error in field.errors %}
                <span class="mdl-textfield__error" style="visibility:visible;">
                            *{{ error }}
                        </span>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</form>